h5 {
  margin-top: 0px;
}

pre {
  margin-top: 0px;
}

#commentsBlock {
  border-bottom: 1px solid rgb(221, 221, 221);
}

.columnsContainer {
  display: flex;
}

.columnsContainer :first-of-type>div {
  margin-right: 15px;
}

#sidebarColumn {
  width: 40%; 
}

.contentBlock{
  padding: 15px;
  margin-top: 15px !important;
  border-radius: 10px;
}

#selectSolutionBlock {
  background-color: #F5F5F5;
}

#solutionCodeBlock {
  background-color: #fff;
}

/* productivity block */

#productivityTestBlock {
  background-color: #fff;
}

#productivityTestBlock table {
  table-layout: fixed;
  border: 1px solid black; 
  border-collapse: collapse; 
}

#productivityTestBlock th { 
  background: #ccc;
  font-weight: normal;
}

#productivityTestBlock th, td { 
  text-align: left;
  padding: 5px; 
  border: 1px solid black;
}